[language-server]
typos-lsp = { command = "typos-lsp" }
sqlmesh-lsp = { command = "sqlmesh_lsp" }
pyrefly = { command = "pyrefly", args = ["lsp"] }
# sqls = { command = "sqls" }
# tinymist = { command = "tinymist" }
# ty = { command = "ty" }

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]
[language-server.basedpyright.config]
basedpyright.analysis.diagnosticMode = "openFilesOnly"

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }
language-servers = ["taplo", "typos-lsp"]

[[language]]
name = "yaml"
formatter = { command = 'prettier', args = ["--parser", "yaml"] }
auto-format = false

[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }

[[language]]
name = "typst"
auto-format = true
# formatter = { command = "typstfmt", args = ["--output", "-"] }
language-servers = ["tinymist", "typos-lsp"]

[[language]]
name = "markdown"
language-servers = ["marksman", "typos-lsp"]

[[language]]
name = "rust"
auto-format = true
language-servers = ["rust-analyzer", "typos-lsp"]

[[language]]
name = "sql"
auto-format = false
formatter = { command = "sqlmesh", args = ["format", "-"] }
language-servers = ["sqlmesh-lsp"]

[[language]]
name = "python"
auto-format = true
# formatter = { command = "ruff", args = ["format", "-"] }
language-servers = ["pyrefly", "ty", "ruff", "pylsp", "typos-lsp"]
