layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
	tab name="Models" split_direction="horizontal" cwd="~/projects/analytics-core/ml-models" {
		pane size="70%"
		pane size="30%"
	}
	tab name="Model-API" split_direction="horizontal" cwd="~/projects/analytics-core/model-api" {
		pane size="70%"
		pane size="30%"		
	}
	tab name="JJ" split_direction="horizontal" cwd="~/projects/analytics-core/" {
		pane
	}
	tab name="notes" cwd="~/projects/tiimely-notes" {
		pane
	}
	tab name="nix-home" cwd="~/projects/nix-home" {
		pane size="70%"
		pane
	}
	tab name="btm" {
		pane command="btm"
	}
 }
